src-data/de/varylab/conformallab/data/types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://www.varylab.com/conformallab/types"
	xmlns:types="http://www.varylab.com/conformallab/types" 
	elementFormDefault="qualified"
	xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
    jxb:version="2.0"	
>
	<xs:element name="SchottkyData" type="types:SchottkyData"/>

	<xs:complexType name="SchottkyData">
		<xs:sequence>
			<xs:element name="SchottkyGenerator" type="types:SchottkyGenerator" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SchottkyGenerator">
		<xs:sequence>
			<xs:element name="A" type="types:Complex"/>
			<xs:element name="B" type="types:Complex"/>
			<xs:element name="Mu" type="types:Complex"/>
			<xs:element name="Circle" type="types:Circle"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Complex">
		<xs:attribute name="re" type="xs:double" use="required"/>
		<xs:attribute name="im" type="xs:double" use="required"/>
	</xs:complexType>

	<xs:complexType name="Circle">
		<xs:sequence>
			<xs:element name="Center" type="types:Complex"/>
		</xs:sequence>
		<xs:attribute name="radius" type="xs:double" use="required"/>
	</xs:complexType>
	
	<xs:complexType name="Moebius">
		<xs:attribute name="a" type="xs:double" use="required"/>
		<xs:attribute name="b" type="xs:double" use="required"/>
		<xs:attribute name="c" type="xs:double" use="required"/>
		<xs:attribute name="d" type="xs:double" use="required"/>
	</xs:complexType>

</xs:schema>