src-data/de/varylab/conformallab/data/types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema 
	xmlns="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://www.varylab.com/conformallab/types"
	xmlns:types="http://www.varylab.com/conformallab/types" 
	elementFormDefault="qualified"
>
	<complexType name="SchottkyData">
		<sequence>
			<element name="Generator" type="types:SchottkyGenerator" maxOccurs="unbounded"/>
		</sequence>
	</complexType>

	<complexType name="SchottkyGenerator">
		<sequence>
			<element name="A" type="types:Complex"/>
			<element name="B" type="types:Complex"/>
			<element name="mu" type="types:Complex"/>
		</sequence>
	</complexType>

	<complexType name="Complex">
		<attribute name="x" type="double"/>
		<attribute name="y" type="double"/>
	</complexType>

	<complexType name="Circle">
		<sequence>
			<element name="Center" type="types:Complex"/>
		</sequence>
		<attribute name="radius" type="double"/>
	</complexType>
	
	<complexType name="Moebius">
		<attribute name="a" type="double"/>
		<attribute name="b" type="double"/>
		<attribute name="c" type="double"/>
		<attribute name="d" type="double"/>
	</complexType>

</schema>